# Environment & Secret files
*.env
*.env.*
!.env.example
agent/.env
compose_files/.env

# Python Virtual Environments & Caches
venv/
**/venv/
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Homepage logs
homepage/logs/
